

a {
	color: #000;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
margin: auto;
/* text-align: center; */
max-width: 1600px;
}

.spec-switch {
	position: absolute;
	right: 15px;
	top: 10px;
}

.sub-container {
	padding: 128px;
    display: grid;
    grid-template-columns: max-content auto;

}


.below-pic a {
    display: block;
}   


.profile {
        display: block;
}

.special-a {
	margin-bottom: 16px;
}
.bio-button {
        font-size: 1.5rem;
	text-align: center;
        line-height: 3.5rem;
}

.bio-button > a {
 border-right: 8px #eef solid;
 border-left: 8px #eef solid;

 border-top: 2px #eef solid;
 border-bottom: 2px #eef solid;
}

.profile > a > img {
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    height: 265px;
    object-fit: cover;
}


.cover {
    min-height: 100px;
}

.under-container {
        background-color: #eee;
        display: block;
    }
.under-cover {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 60%;
}


.album-section-main {
    width: 600px;
	margin: 24px 64px;
}

.inner-album-section {
	padding-top: 48px;
	padding-bottom: 96px;
}

.content-section > * {
    display: block;
    padding: 16px 0px;
}

.track-name {
    display: block;
}

.pic > img, .pic > a > img {
    max-width: 290px;

}

.pictures {
    /* text-align: center; */
	margin: auto;
    max-width: 900px;
    text-align: center;

  line-height: 2;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;

}


.bio-text {
        display: block;
        padding: 32px 128px;
        text-align: center;
}

.articles-section {
	text-align: center;
}

.below-pic > a {
	line-height: 1.5rem;
	text-align: center;
}

@media screen  and (min-width: 1200px) and (max-width: 1500px){

}

@media screen and (min-width: 850px) and (max-width: 1200px){

}

@media screen and (min-width: 450px) (max-width: 850px){

}

@media screen and (max-width: 450px){

}
